body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF ;
}

* {
    box-sizing: border-box;
}

.top-container {
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

.time-box {
    height: 36px;
    padding: 0px 10px;
    margin: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 800;
    background-color: #75B79E;
    color: #EEF9BF;
}

.title {
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
    display: flex;
    justify-content: center;
    text-align: center;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 47px;
    width: 100%;
    padding-left: 34px;
}

.card {
    width: 117px;
    height: 146px;
    margin-bottom: 34px;
    margin-right: 34px;
    border-radius: 5px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 5px 5px 1px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
    transform-style: preserve-3d;
    border: 1px solid #99CEA8;
}

.front-face img {
    width: 100px;
    height: 100px;
    margin: 24px 7px 22px 10px;
}

.back-face img {
    width: 100px;
    height: 100px;
    margin: 24px 7px 22px 10px;
}

.back-face {
    transform: rotateY(180deg);
}

.turn-back-face {
    transform: rotateY(0deg);
}

.turn-front-face {
    transform: rotateY(-180deg);
}

.pair-back {
    transform: rotateY(0deg);
}

.pair-front {
    transform: rotateY(-180deg);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 50px;
}

.play-again-button {
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 33px;
    padding: 15px 15px;
    color: #EEF9BF;
    background-color:rgb(151, 174, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hide {
    display: none;
}

@media (max-width: 614px) {

    .title {
        font-size: 36px;
    }

    .time-box {
        height: 30px;
        font-size: 20px;
        font-weight: 700;
    }

    .play-again-button {
        font-size: 18px;
        width: 180px;
        padding: 13px 13px;
    }

}

